<app-default-layout2>
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
    <!-- form -->
    <form name="login-form2" [formGroup]="loginForm2" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="emailaddress" class="form-label">Usuário</label>
            <input class="form-control" type="email" id="emailaddress" required placeholder="Entre com seu usuário"
                formControlName="email" [ngClass]="{'is-invalid': formSubmitted && formValues.email.invalid}">

            <div *ngIf="formSubmitted && formValues.email.invalid" class="invalid-feedback">

                <div *ngIf="formValues.email.errors?.required">
                    Usuário obrigatório.
                </div>  
                <div *ngIf="formValues.email.errors?.email">
                    Email está com formato incorreto!!!
                </div>

            </div>
        </div>
        <div class="mb-3">
            <a [routerLink]="['../reset-password']" class="text-muted float-end"><small>Esqueceu sua 
                    senha?</small></a>
            <label for="password" class="form-label">Senha</label>
            <div class="input-group input-group-merge">
                <input [type]="showPassword? 'text' : 'password'" id="password" class="form-control"
                    placeholder="Entre com sua senha" formControlName="password" required minlength="4"
                    [ngClass]="{'is-invalid': formSubmitted && formValues.password.invalid}">
                <div class="input-group-text" (click)="showPassword=!showPassword">
                    <span class="password-eye"></span>
                </div>
                <div *ngIf="formSubmitted && formValues.password.invalid" class="invalid-feedback">

                    <div *ngIf="formValues.password.errors?.required">
                        Senha obrigatório.
                    </div>
                    <div *ngIf="formValues.password.errors?.minlength">
                        Senha precisa ter mais que 3 caracteres.
                    </div>

                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkbox-signin">
                <label class="form-check-label" for="checkbox-signin">Manter conectado</label>
            </div>
        </div>
        <div class="text-center d-grid">
            <button class="btn unimed-btn" type="submit">Entrar </button>
        </div>
    </form>
    <!-- end form-->

</app-default-layout2>