<app-default-layout2>
    <div class="text-center w-75 m-auto">
        <h4 class="text-dark-50 text-center mt-3">Olá ! Kleiton Freitas </h4>
        <p class="text-muted mb-4">Entre novamente com sua senha.</p>
    </div>


    <form name="lock-screen-form2" [formGroup]="lockScreenForm2" (ngSubmit)="onSubmit()">

        <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>


        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input class="form-control" type="password" required id="password" placeholder="Digite sua senha"
                minlength="4" formControlName="password"
                [ngClass]="{'is-invalid': formSubmitted && formValues.password.invalid}">

            <div *ngIf="formSubmitted && formValues.password.invalid" class="invalid-feedback">

                <div *ngIf="formValues.password.errors?.required">
                    Senha obrigatório.
                </div>
                <div *ngIf="formValues.password.errors?.minlength">
                    Senha deve conter mais que 3 caracteres.
                </div>

            </div>
        </div>

        <div class="text-center d-grid">
            <button class="btn btn-primary" type="submit"> Entrar </button>
        </div>

    </form>
    <!-- end form-->

    <!-- Footer-->
    <footer class="footer footer-alt">
        <p class="text-muted">Não é Você? voltar para <a [routerLink]="['../login2']" class="text-muted ms-1"><b>Inicio</b></a>
        </p>
    </footer>

</app-default-layout2>